@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Montserrat&display=swap");

$primary-color: #f6f7fb;
$secondary-color: #1279ff;
$shadow-color: #00000028;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Baloo Da 2", cursive;
}

@mixin mediaXl {
  @media screen and (min-width: 992px) {
    @content;
  }
}
