.Job {
  display: flex;
  background: white;
  margin: 0 0.5rem 1.2rem 0.5rem;
  padding: 0.5rem 0.6rem;
  border-bottom: 1px solid $shadow-color;
  border-radius: 4px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  .image-container {
    flex: 0.15;
    align-self: flex-start;
  }

  .info-container {
    flex: 0.85;
    line-height: 2rem;
    width: 100%;

    #title {
      font-size: 1.8rem;
      font-weight: lighter;
      opacity: 0.8;
    }

    .bottom {

      .location-time {
        opacity: 0.4;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
