@include mediaXl {
  .Home {
    display: flex;
    flex-direction: column;

    .content {
      display: flex;

      .Location {
        flex: 0.3;
      }

      .JobList {
        flex: 0.7;
      }
    }
  }

  .Job {
    .image-container {
      flex: 0.2;
    }

    .info-container {
      flex: 0.8;
    }
    .bottom {
      display: flex;
      justify-content: space-between;

      .location-time {
        display: flex;
        justify-content: space-between;

        #time {
          margin: 0 0 0 2rem;
        }
      }
    }
  }

  .JobDetail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .top {
      flex: 0.3;
      margin: 0 4rem 0 2rem;
    }

    .content {
      flex: 0.7;
      margin: 0 4rem 0 0;
    }
  }
}
